
<div class="row" ng-if="ctrl.status && ctrl.status.value==='initialized'">
  <form name="configForm">
    <div class="col-md-12">
      <h5 style="color:#5e6166">管理员密码设置</h5>
      <hr>

      <div class="q-card">
        <span class="glyphicon glyphicon-info-sign"></span>
        &nbsp;管理员密码, 用于管理和配置您的 Grafana 应用的监控数据源及数据，默认管理员用户名为 <code>admin</code>。
      </div>

      <span><b>密　　码　</b></span>
      <input style="width:300px;display:inline-block;" class="form-control" type="password" name="password" ng-model="ctrl.password" placeholder="请输入密码" ng-required ng-change="ctrl.check_pwd()">
      <br><br>
      <span><b>确认密码　</b></span>
      <input style="width:300px;display:inline-block;" class="form-control" type="password" name='confirm_password' ng-model="ctrl.password2" placeholder="请确认密码" ng-required ng-change="ctrl.check_pwd()">
      
      <hr>

      <div ng-show="ctrl.errmsg" class="alert alert-danger" role="alert"> {{ctrl.errmsg}} </div>
      <a ng-click="ctrl.create_app()" href="javascript:void(0)" class="btn btn-primary btn-mute" style="display:inline-block;border:1px solid #99F">
        确认配置
      </a>
    </div>
  </form>
</div>
